//  Tema Dark Purple - Header 
header {
    background-color: #2d2828; /* Roxo médio escuro */
    padding: 1rem 2rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-bottom: 2px solid #676569; /* Roxo vibrante */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
  }
  
